.card {
    border-radius: 4px;
    margin: 0 3px 10px 3px;
    background: white;
    /* box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2); */
    word-wrap: break-word;
    border: 1px solid rgb(234, 234, 234);
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.card_header {
    color: black;
    padding: 10px;
    word-wrap: break-word;
}

.card_header>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.card_header>div>.breed_name_title {
    margin: 0 5px 5px 0;
    font-size: 24px;
    font-weight: bold;
}

.card_header>div>.breed_group_label {
    padding: 2px 6px 4px 6px;
    margin: 0;
    font-size: 12px;
    background: white;
    color: teal;
    border-radius: 4px;
    font-weight: bold;
    height: 13px;
    border: 2px solid teal;
}

.card_header>.card_subtitle {
    padding: 0;
    margin: 5px 0 0 0;
    /* margin-bottom: 5px; */
    font-size: 14px;
    font-weight: 400;
    color: gray;
    word-wrap: break-word;
}

.card_image {
    width: 100%;
    height: 250px;
}

.card_content {
    padding: 10px;
    padding-top: 0;
}

.card_content_information_div {
    display: flex;
    justify-content: left;
    padding: 10px 0px;
}

.card_content_information_div>div {
    margin-right: auto;
}

.card_content_information_div>div>.bred_for_title {
    padding: 0;
    margin: 0;
    color: #505050;
    font-size: 16px;
    font-weight: bold;
}

.card_content_information_div>div>.bred_for_value {
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 14px;
}

.card_content_information_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.card_content_information_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.card_content_information_list_item>img {
    width: 22px;
    height: 22px;
}

.card_content_information_list_item>p {
    margin: 0 3px;
    font-size: 13px;
    color: #505050;
    font-weight: bold;
}