.community_page_container {
    width: 75%;
    margin: 70px auto;
    overflow: hidden;
    column-count: 3;
    column-gap: 0.4em;
    column-fill: auto;
    background-color: #fafafa;
    -webkit-column-count: 3;
    -webkit-column-gap: 0.3em;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 0.4em;
    -moz-column-fill: auto;
}